Source: websh
Section: non-free/misc
Priority: optional
Maintainer: Simon Vigneux <svigneux@kronostechnologies.com>
Build-Depends: debhelper (>= 8.0.0), python
Standards-Version: 3.9.4
Vcs-Git: git://github.com/svigneux/python-websh.git

Package: websh
Architecture: all
Depends: ${misc:Depends}, python, python-cmd2, python-httplib2
Description: webshell client and server
 Packaging of a webshell client and server
